:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --secondary-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --overlay-color: #EEEEEE;
    --logo-color: #000000;
    --btn-color: #188CE8;
    --transparent-color: rgba(255, 255, 255, 0.6);
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #2F303A;
    --overlay-background-color: #F5F4FA;
    --card-set-gap: 30px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

button {
cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-section {
    display: flex;
    align-items: center;
    margin: 0 215px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    align-items: center;
}

.auth-nav {
    display: flex; 
    align-items: center;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    color: var(--logo-color);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    color: var(--secondary-text-color);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.accent {
    color: var(--accent-color);
}

.link {
    text-decoration: none;
}

.header-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--title-text-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.current {
    color: var(--accent-color);
}

.heager-mail,
.header-tel {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: inherit;
}

.heager-mail:hover,
.heager-mail:focus,
.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
}



.head {
    padding: 200px 0;
    background-color: var(--secondary-background-color);
    text-align: center;
}

.title {
margin-bottom: var(--card-set-gap);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--secondary-text-color)
}

.head-btn {
    padding: 10px 24px;
    border: none;
    border-radius: 4px;
    font-family: inherit;
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

.head-btn:hover,
.head-btn:focus {
    background-color: var(--btn-color);
}

.site-nav,
.auth-nav,
.peculiarities-list,
.visual-list,
.team-list,
.list-address,
.foto-list {
    list-style: none;
}

.section {
    padding: 94px 0;
}

.no-padding {
    padding-bottom: 0;
}

.little-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-text-color);
}

.text {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}

.secondary-title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-color);
}

.team {
    background-color: var(--overlay-background-color);
}

.name-title {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-color);
}

.major-text {
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
}


.page-footer {
    background-color: var(--secondary-background-color);
}

.footer-info { 
    font-style: normal;
}

.footer-address {
color: var(--secondary-text-color);
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}

.footer-mail,
.footer-tel {
color: var(--transparent-color);
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}

.footer-address:hover,
.footer-address:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
    color: var(--accent-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.visually-list {
    list-style: none;
    /* padding: 0px;
    margin: 0px; */
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-btn {
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    font-family: inherit;
    background-color: var(--overlay-background-color);
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;  
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--btn-color);
    color: var(--secondary-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.foto-list {
    list-style: none;
    /* padding: 0px;
    margin: 0px; */
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
}

.foto-list>.item {
    flex-basis: calc(100%/3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
}

.item * {
    outline: 1px solid tomato;
}

.card-content {
    padding: 20px 24px;
    margin-top: 0;
    border: 1px solid var(--overlay-color);
    }

.foto-title {
margin-bottom: 4px;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--title-text-color)
}

.foto-text {
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--primary-text-color)
}



